.ReviewSnapShot {
    align-content: center;
    margin-bottom: 10px;
    height: auto;
}

.ReviewCounts {
    width: 387px;
    position: relative;
    float: left;
    height: 300px;
}

.starRating {
    box-sizing: content-box;
    width: 387px;
    position: relative;
    float: right;
    height: 300px;
}

.actionBox {
    height: 44px;
}

.button1 {
    color: white;
    display: block;
    background-color: rgb(0, 113, 141);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0px, rgba(255,255,255,0) 100%);
    float: right;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.closeModal {
    float: right;
}

h2 {
    line-height: 32px;
    height: 32px;
    display: block;
    text-align: left;
    float: left;
    width: 81px;
    left: auto;
    bottom: auto;
    font-weight: 400;
    font-size: 22;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.formSideBar {
  height: 100%;
  width: 225px;
  position: fixed;
  background-color: gray;
  margin-left: 0px;
  top: 0px;
  left: 0px;
}

.formContainer {
    width: 675px;
    float: right;
    margin-left: 0px;
    right: 0px;
}

.productOverviewDiv {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 12px;
}

.productRatingDiv {
    height: 107px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.productRatingSpan {
    height: 86px;
}
.reviewTitleContainer {
    background-attachment: scroll;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
}
.reviewTitleDiv {
    background-attachment: scroll;
    height: 79px;
    line-height: 19.2px;
    padding-right: 20px;
    padding-left: 20px; 
}

.reviewTitleForm {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-weight: 700;
    font-size: 16px;
    float: left;
}

.reviewTitleInput {
    width: 635px;
    background-origin: padding-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(221, 221, 221);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(221, 221, 221);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.5;
    padding-bottom: 7.5;
    text-decoration-color: rgb(102, 102, 102);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 19.2px;
    height: 37px;
    font-weight: 400;
    float: left;
    font-size: 16px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

